*{                
    box-sizing: border-box;
    margin: 0% 0% 0% 0%;
  }

header{

    background-color: cornflowerblue;
    background-image:  url(/img/pattern.png);
    background-size: 30% ;
}

h1{
    padding-left: 1%;
    padding-right: 50%;
}

h3{
    padding-left: 1%;
    color: grey;
}

h4{
    padding-left: 1%;
    color: grey;
    margin-bottom: 1%;
}

h5{
    padding-left: 1%;
}

.borders{                   
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0%;
    padding-bottom: 1%;
}

.listb{
    padding-left: 2%;
}

#logo{;
    width: 25%;
    height: 25%;
    padding-top: 5%;
    padding-left: 1%;
}

#evidenziato{
    background-color: rgb(242, 255, 0);
}