*{                
    box-sizing: border-box;
    margin: 0% 0% 2% 0%;
  }

header{

    background-color: cornflowerblue;
    background-image:  url(/img/pattern.png);
    background-size: 30% ;
}

h1{
    padding-left: 1%;
    padding-right: 50%;
}

#logo{;
    width: 25%;
    height: 25%;
    padding-top: 5%;
    padding-left: 1%;
}