
/* rimuovere bordi header e rendere funzionanti le percentuali come metodo di ridimensionamento*/
*{                
    box-sizing: border-box;
    margin: 0% 0% 0% 0%;
  }


header{
    background-color: cornflowerblue;
    background-image:  url(/img/pattern.png);
    background-size: 30% ;
}

h1{
    padding-left: 1%;
    padding-right: 50%;
}

h3{
    padding-left: 1%;
    color: grey;
}

h4{
    padding-left: 1%;
    color: grey;
    margin-bottom: 1%;
}

h5{
    padding-left: 1%;
}

.borders{                   
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
    padding-bottom: 1%;
    margin-top: 2%;
}

.borders2{                 
    margin-top: 0%;
    margin-right: 1%;
    margin-bottom: 0%;
    padding-bottom: 1%;

}

.listb{
    padding-left: 2%;
    padding-bottom: 2%;
}

.twid1{
    width: 25%;
}

.twid2twid2{
    width: 50%;
}

.blue{
    background-color: rgb(0, 166, 255);
    color: aliceblue
}

.azur{
    background-color: rgb(127, 223, 255)
}

#logo{
    width: 25%;
    height: 25%;
    padding-top: 5%;
    padding-left: 1%;
}

.evidenziato{
    background-color: rgb(242, 255, 0);
}

#table{
    border-collapse: collapse;
    width: 100%;
}

#bkgimage1{
    background-image: url(/img/monitor.jpg);
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
}

#bkgimage2{
    background-image: url(/img/graph.jpg);
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
}

.white{
    color: aliceblue;
    font-size: large;
    text-align: center;
    padding-top: 8%;
}